PUBLIC_DIRECTUS_URL=https://mlpdirectus.116.203.118.1.sslip.io
DIRECTUS_URL=https://mlpdirectus.116.203.118.1.sslip.io
DIRECTUS_STATIC_TOKEN=mlp_secret_directus_token_2026
PORT=3000
HOST=0.0.0.0
NODE_ENV=production
